.horizontal-align{
    display: flex;
    justify-content: center;
}
/* .vertical-align{
    display: flex;
    align-items: center;
} */
#body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#body .container .top{
    background-image:url(https://raw.githubusercontent.com/Anirudhece/Browserstack/main/images/bg1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.white-text{
    color: white;
}
#body .container .top .nav-bar{
    display: flow-root list-item;
}
#body .container .top .nav-bar .left-nav{
    display: flex;
    float: left;
    font-size: 27px;
    font-weight: bolder;
    margin: 20px;
}
#body .container .top .nav-bar .right-nav{
    float: right;
    color: white;
    margin: 20px;
}
#body .container .top .nav-bar .right-nav ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#body .container .top .nav-bar .right-nav ul a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    padding-right: 10px; 
    padding-left: 10px;
    font-weight: lighter;
}
#white-line{
    margin: 0;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    color: grey;
}
#body .container .top .bellow-line{
    height: 30rem;
}
#body .container .top .bellow-line .bellow-line-child{
    display: grid;
    align-items: center; 
}
#body .container .top .bellow-line .bellow-line-child .live .live-web{
    color: white;
    font-size: 40px;
    font-weight: 525;
}
#red-line{
    color:crimson;
    width: 70px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: crimson;
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .top .bellow-line .bellow-line-child .instant-para{
    color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup a{
    color: white;
    background-color: crimson;
    text-decoration: none;
    border-top: 10px solid crimson;
    border-bottom: 10px solid crimson;
    border-left: 30px solid crimson;
    border-right: 30px solid crimson;
}
#body .container .laal{
    background-color: crimson;
    color: white;
    height: 22rem;
}
#body .container .laal .test-dev{
    font-size: 30px;
    font-weight: 425;
}
#white-choti-line{
    color:white;
    width: 70px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .laal .para{
    padding-bottom: 20px;
    padding-top: 20px;
}
#body .container .laal .get-started a{
    color: rgba(0, 0, 0, 0.938);
    background-color: white;
    text-decoration: none;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 30px solid white;
    border-right: 30px solid white ;
}
#body .container .white-feature{
    background-color: white;
}
#body .container .white-feature .feat{
    font-size: 50px;
    color: rgba(56, 55, 55, 0.931);
    font-weight: 600; 
    margin-top: 5%;
}
#body .container .white-feature #grey-line{
    color: rgb(56, 55, 55);
    width: 70px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(56, 55, 55);
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .white-feature .bellow-grey{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#body .container .white-feature .bellow-grey .photo-arrange{
    margin-right: 10px;
    margin-left: 10px;
}
#body .container .white-feature .bellow-grey .photo-arrange .photo{
    margin-bottom: 5%;
}
#body .container .white-feature .bellow-grey .photo-arrange .photo img{
    width: 20%;
}
#body .container .white-feature .bellow-grey .photo-arrange .photo #wrench{
    width: 18%;
}
#body .container .white-feature .bellow-grey .photo-arrange .heading{
    font-size: 30px;
    color: rgb(12, 12, 12);
    font-weight: 450;
    margin-bottom: 2%;
    text-align: center;
}
#body .container .white-feature .bellow-grey .photo-arrange .bellow-heading{
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
#body .container .signup-in-black{
    background-color: rgb(51, 51, 51);
}
#body .container .signup-in-black .signup-child{
    padding-top: 3rem;
    padding-bottom: 3rem;

}
#body .container .signup-in-black .signup-child .free-trial{
    color: rgba(255, 255, 255, 0.849);
    font-size: 40px;
    margin-bottom: 2rem;

}
