.horizontal-align{
    display: flex;
    justify-content: center;
}
#body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#body .container .top{
    background-image:url(https://raw.githubusercontent.com/Anirudhece/Browserstack/main/images/bg1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.white-text{
    color: white;
    display: block;
}
#body .container .top .nav-bar{
    display: flow-root list-item;
}
#body .container .top .nav-bar .left-nav{
    display: flex;
    float: left;
    font-size: 27px;
    font-weight: bolder;
    margin: 20px;
}
#body .container .top .nav-bar .right-nav{
    float: right;
    color: white;
    margin: 20px;
}
#body .container .top .nav-bar .right-nav ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#body .container .top .nav-bar .right-nav ul a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    padding-right: 10px; 
    padding-left: 10px;
    font-weight: lighter;
}
#white-line{
    margin: 0;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    color: grey;
}

#body .container .top .bellow-line .bellow-line-child{
    display: grid;
    align-items: center; 
}
#body .container .top .bellow-line .bellow-line-child .live{
    margin-top: 9rem;
}
#body .container .top .bellow-line .bellow-line-child .live .live-web .live-web-child{
    color: white;
    font-weight: 525;
    text-align: center;
    width: 50rem;
    font-size: 3.7rem;
}
#red-line{
    border: 0px;
    color:rgba(220, 50, 20, 0.856);
    width: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(220, 50, 20, 0.856);
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .top .bellow-line .bellow-line-child .instant-para{
    color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
}
#body .container .top .bellow-line .bellow-line-child .instant-para .instant .instant-child{
    text-align: center;
    font-size: 1.6rem;
    width: 74%;
} 
.signup{
    margin-top: 2rem;
    margin-bottom: 5rem;    
}
.signup a{
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(220, 50, 20, 0.856);
    text-decoration: none;
    border-top: 20px solid rgba(220, 50, 20, 0.856);
    border-bottom: 20px solid rgba(220, 50, 20, 0.856);
    border-left: 50px solid rgba(220, 50, 20, 0.856);
    border-right: 50px solid rgba(220, 50, 20, 0.856);
}
#body .container .laal{
    background-color: rgba(220, 50, 20, 0.856);
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#body .container .laal .test-dev{
    font-size: 30px;
    font-weight: 425;
}
#white-choti-line{
    border: 0px;
    color:white;
    width: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .laal .test-dev{
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
}
#body .container .laal .para{
    padding-bottom: 20px;
    padding-top: 20px;
}
#body .container .laal .para .our-local{
    text-align: center;
    font-size: 1.5rem;
    width: 75%;
}
#body .container .laal .get-started a{
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.938);
    background-color: white;
    text-decoration: none;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    border-left: 30px solid white;
    border-right: 30px solid white ;
}
#body .container .white-feature .feat{
    font-size: 50px;
    color: rgba(56, 55, 55, 0.931);
    font-weight: 600; 
    margin-top: 5%;
}
#body .container .white-feature #grey-line{
    border: 0px;

    color: rgb(56, 55, 55);
    width: 70px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(56, 55, 55);
    margin-bottom: 20px;
    margin-top: 20px;
}
#body .container .white-feature .bellow-grey{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#body .container .white-feature .bellow-grey .photo-arrange{
    margin-right: 10px;
    margin-left: 10px;
}
#body .container .white-feature .bellow-grey .photo-arrange .photo{
    margin-bottom: 5%;
}
#body .container .white-feature .bellow-grey .photo-arrange .photo img{
    width: 20%;
}
/* #body .container .white-feature .bellow-grey .photo-arrange .photo #wrench{
    width: 18%;
} */
#body .container .white-feature .bellow-grey .photo-arrange .heading{
    font-size: 1.9rem;
    color: rgb(12, 12, 12);
    font-weight: 450;
    margin-bottom: 2%;
    text-align: center;
}
#body .container .white-feature .bellow-grey .photo-arrange .bellow-heading{
    text-align: center;
    color: rgb(51, 51, 51);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
#body .container .signup-in-black{
    background-color: rgb(51, 51, 51);
}
#body .container .signup-in-black .signup-child{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
#body .container .signup-in-black .signup-child .free-trial{
    color: rgba(255, 255, 255, 0.849);
    font-size: 40px;
    margin-bottom: 2rem;
    text-align: center;
}
#sgn-up{
    margin-bottom: 2rem;
}
#body .container .bottom {
    margin-top: 1rem;
    margin-bottom: 6rem;
}
#body .container .bottom .terms{
    display: flex;
    float: left;
}
#body .container .bottom .terms .terms-child{
    margin-left: 1rem;
    margin-right: 1rem;
    color: rgb(51, 51, 51);
    font-size: 1.2rem;
} 

#body .container .bottom .brand-left{
    display: flex;
    float: right;
    font-size: 1.3rem;
    color: rgb(51, 51, 51);
    font-weight: bolder;
    margin-right: 1rem;
}

@media(max-width: 900px){
    #body .container .top .nav-bar .left-nav{
        float: none;
        justify-content: center;
    }
    #body .container .top .nav-bar .right-nav{
        font-size: 2rem;     
        float: none;
        justify-content: center;
    }
    #body .container .top .nav-bar .right-nav ul{
        display: flex;
        justify-content: center;
    }
    #body .container .top .bellow-line .bellow-line-child .live .live-web .live-web-child{
        font-size: 3rem;
    }
    #body .container .top .bellow-line .bellow-line-child .instant-para .instant .instant-child{
        font-size: 1.3rem;
        width: 85%;
    }

    #body .container .bottom .terms{
        float: none;
        justify-content: center;
    }
    #body .container .white-feature .bellow-grey{
        margin-left: 10px;
        margin-right: 10px;
    }
    #body .container .white-feature .bellow-grey .photo-arrange .heading{
        font-size: 1.5rem;
    }
    #body .container .white-feature .bellow-grey .photo-arrange .bellow-heading{
        font-size: 1rem;
    }
    #body .container .bottom .brand-left{
        float: none;
        justify-content: center;
        margin-top: 2rem;
        font-size: 1.6rem;
    }
    #body .container .bottom{
        margin-bottom: 3rem;
    }
}
@media(max-width: 760px){
    #body .container .top .bellow-line .bellow-line-child .live{
        margin-top: 5rem;
    }
    #body .container .top .bellow-line .bellow-line-child .live .live-web .live-web-child{
        font-size: 2rem;
        width: 95%;
    }
    #body .container .top .bellow-line .bellow-line-child .instant-para .instant .instant-child{
        font-size: 1.1rem; 
        width: 90%;
    }
}
@media(max-width: 600px){
    #body .container .top .bellow-line .bellow-line-child .live {
        margin-top: 2rem;
    }
    #body .container .top .bellow-line .bellow-line-child .instant-para{
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .signup{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    #body .container .laal{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #body .container .laal .test-dev{
        font-size: 2.2rem;
    }
    #body .container .laal .para .our-local{
        font-size: 1.1rem;
        width: 95%;
    }
}
@media(max-width: 470px){
    #body .container .top .nav-bar .right-nav ul a{
        font-size: 15px;
    }
    #body .container .white-feature .bellow-grey .photo-arrange .heading {
        font-size: 1.2rem;
      }
    #body .container .white-feature .bellow-grey .photo-arrange .bellow-heading {
        font-size: 0.8rem;
    }
    #body .container .signup-in-black .signup-child .free-trial {
        font-size: 35px;
    }
    #body .container .laal .test-dev {
        font-size: 2rem;
    }
    #body .container .laal .para .our-local{
        font-size: 1rem;
    }
    #body .container .laal .get-started a{
        text-align: center;
    }
}

/* .rotate{
    transition: all 2s linear infinite ;
}
.rotate:hover{
    transform: rotate(360deg) ;
    animation: infinite;
} */

.rotate{
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}